<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">시리얼 코드</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실? 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">LOREM의 ipsum의 통증</h4>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">LOREM의 ipsum의 통증</h4>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">LOREM의 ipsum의 통증</h4>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">LOREM의 ipsum의 통증</h4>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">LOREM의 ipsum의 통증</h4>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">LOREM의 ipsum의 통증</h4>
                </div>
                <div class="timeline-body">
                    <p>LOREM의 ipsum의의 슬픔은, AMET consectetur의 adipiscing의 ELIT 앉아. 무료 전체 운동의 강렬한 통증을 발생합니다. 제조업체의 우리의 사무실 그것은 환영으로 올 것이다. 본 상황의 조상은, 쾌락에 일이 말했다 부채되었습니다하지 받는다.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
