<div [@routerTransition]>
    <app-page-header [heading]="'Add'" [icon]="'fa-desktop'"></app-page-header>
    <div class="page-header">
        <h1>Section</h1>
        <hr>
    </div>
    <div class="row">
        <!-- /.col-sm-4 -->
        <div class="col-sm-6" (click)="routeForms('add-company')">
            <div class="card bg-light mb-3">
                <div class="card-header">
                  <h4 class="card-title">
                      회사 추가
                  </h4>

                </div>
                <div class="card-body">
                    <p class="card-text">
                        사업장 이름, 주소, 좌표
                    <span ><i class="fa fa-arrow-circle-right icon-cog"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-light mb-3" (click)="routeForms('add-analyzer')">
                <div class="card-header">
                  <h4 class="card-title">
                      계측기 추가
                    </h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        계측기 번호, 시리얼코드, 센서항목
                        <span ><i class="fa fa-arrow-circle-right icon-cog"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>